.App {
  display: flex;
  flex: 1 1 auto;
}

.App__map {
  position: relative;
  flex: 1 1 auto;
}

.App__widgets {
  box-sizing: border-box;
  flex: 0 0 20%;
  padding: 1em;
  border-left: 1px solid #333;
}
